header{
background-color: black;
color: white;
}
a{
	color: white;
	list-style-type: none;
	text-decoration: none;
	display:inline-block;
}
.container{
	background-color: white;
}
.cuidad{
	width: 130%;
	height: 60%;
	padding:10%;

}
section{
	background-color: #D3D5E4;

}
.chica{
	width: 100%;
}
a.lista{
	text-decoration: none;
	color: black;
	list-style-type: none;
	display: inline-block;
}
.redes
{
color:red; 
list-style-type:none;

}
.negro{
	background-color: black;
	color:grey;
}